<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>BERCOM</title>
    <link
      rel="icon"
      type="image/x-icon"
      href="{{ url_for('static', filename='img/fav.png') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/style.css') }}"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js"
      integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <header class="p-3 sticky-top">
      <div class="container">
        <div
          class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
        >
          <img
            src="{{ url_for('static', filename='img/fav.png') }}"
            width="70"
            height="70"
          />
          <span class="fs-2 mx-5 text-white">BerCom</span>
          <ul
            class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
          >
            <li><a href="/" class="nav-link p-3 text-white">Domů</a></li>
            <li>
              <a href="/about" class="nav-link p-3 text-white active"
                >O firmě</a
              >
            </li>
            <li>
              <a href="/products" class="nav-link p-3 text-white">Produkty</a>
            </li>
            <li>
              <a href="/contact" class="nav-link p-3 text-white">Kontakt</a>
            </li>
            {% if 'user_id' in session %}
            <li><a href="/shop" class="nav-link p-3 text-white">FanShop</a></li>
            <li><a href="/bag" class="nav-link p-3 text-white">Košík</a></li>
            {% endif %}
          </ul>
          <div class="text-end">
            {% if 'user_id' in session %}
            <button
              id="logout"
              type="button"
              class="btn btn-secondary p-3 text-white"
              onclick="window.location.href = '/logout'"
            >
              Log-Out
            </button>
            {% else %}
            <button
              id="login"
              type="button"
              class="btn btn-secondary p-3 text-white"
              onclick="window.location.href = '/login';"
            >
              Log-In
            </button>
            <button
              id="signup"
              type="button"
              class="btn btn-secondary p-3 text-white"
              onclick="window.location.href = '/signup';"
            >
              Sign-Up
            </button>
            {% endif %}
          </div>
        </div>
      </div>
    </header>
    <br />
    <div class="container bg-light p-3 mb-5 rounded">
      <div class="row featurette">
        <div class="col-md-7 order-md-2">
          <h1 class="featurette-heading">
            Historie, <span class="text-muted">a mnohem více právě zde</span>
          </h1>
          <p class="lead">
            <br />
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum
            erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat.
            Suspendisse sagittis ultrices augue. Cum sociis natoque penatibus et
            magnis dis parturient montes, nascetur ridiculus mus. Praesent in
            mauris eu tortor porttitor accumsan. Donec vitae arcu. Nam libero
            tempore, cum soluta nobis est eligendi optio cumque nihil impedit
            quo minus id quod maxime placeat facere possimus, omnis voluptas
            assumenda est, omnis dolor repellendus. Maecenas ipsum velit,
            consectetuer eu lobortis ut, dictum at dui. Duis pulvinar. Fusce
            nibh. Phasellus faucibus molestie nisl. Sed elit dui, pellentesque
            a, faucibus vel, interdum nec, diam. In rutrum. Sed elit dui,
            pellentesque a, faucibus vel, interdum nec, diam.
          </p>
        </div>
        <div class="col-md-5 order-md-1">
          <img
            class="featurette-image img-fluid mx-auto rounded"
            data-src="holder.js/400x400/auto"
            alt="400x400"
            src="{{ url_for('static', filename='img/deska4.jpg') }}"
            data-holder-rendered="true"
            style="width: 400px; height: 400px"
          />
        </div>
      </div>

      <div class="row featurette">
        <div class="col-md-7">
          <p class="lead">
            <br />
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum
            erat nulla, ullamcorper nec, rutrum non, nonummy ac, erat.
            Suspendisse sagittis ultrices augue. Cum sociis natoque penatibus et
            magnis dis parturient montes, nascetur ridiculus mus. Praesent in
            mauris eu tortor porttitor accumsan. Donec vitae arcu. Nam libero
            tempore, cum soluta nobis est eligendi optio cumque nihil impedit
            quo minus id quod maxime placeat facere possimus, omnis voluptas
            assumenda est, omnis dolor repellendus. Maecenas ipsum velit,
            consectetuer eu lobortis ut, dictum at dui. Duis pulvinar. Fusce
            nibh. Phasellus faucibus molestie nisl. Sed elit dui, pellentesque
            a, faucibus vel, interdum nec, diam. In rutrum. Sed elit dui,
            pellentesque a, faucibus vel, interdum nec, diam.
          </p>
          <br />
        </div>
        <div class="col-md-5 order-md-1">
          <img
            class="featurette-image img-fluid mx-auto rounded"
            data-src="holder.js/700x400/auto"
            alt="700x400"
            src="{{ url_for('static', filename='img/deska3.jpg') }}"
            data-holder-rendered="true"
            style="width: 700px; height: 400px"
          />
        </div>
      </div>

      <br />
      <button class="btn" id="trofeje">Seznam trofejí Realu Madrid</button>

      <table class="table" id="table" style="display: none">
        <thead class="thead-dark">
          <tr>
            <th>Sezóna</th>
            <th>Trofej</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1955</td>
            <td>Latinský pohár</td>
          </tr>
          <!-- List of trophies continues -->
        </tbody>
      </table>
    </div>
    <br />
    <div id="footer">
      <footer class="py-3">
        <p class="text-center text-body-secondary">
          <a href="https://github.com/SimonBer7/BarCom">© Šimon Bernard</a>
        </p>
      </footer>
    </div>

    <script>
      $("#trofeje").click(function () {
        $("#table").fadeToggle();
      });
    </script>
  </body>
</html>
